
<!-- Tableau Angular -->
<div class="container d-flex flex-column align-items-center justify-content-center">
  <a class="btn btn-primary" onclick="location.href='http://localhost:4200/list-reservesalle';">Voir le calendrier d’une salle </a>
  <a class="btn btn-primary"  onclick="location.href='http://localhost:4200/list-reservesalle';">Voir les membres d’une salle</a>
  <a class="btn btn-primary" onclick="location.href='http://localhost:4200/add-reservesalle';">Réserver une salle</a>

  <a class="btn btn-primary" (click)="showMe()">t'es ou </a>
  <p *ngIf="estCeQuilEstLa">Je suis là !!</p>
</div>
