
<!-- Tableau Angular -->
<div class="container d-flex flex-column align-items-center justify-content-center">
  <a class="btn btn-primary" onclick="location.href='http://localhost:4200/list-users';" >gestion des membres </a>
  <a class="btn btn-primary" >gestion des salle</a>
  <a class="btn btn-primary" onclick="location.href='http://localhost:4200/reserve-room';" >Réserver une salle </a>
  <a class="btn btn-primary" >Voir quelle salle est libre </a>
  <a class="btn btn-primary" >inviter membre salle réunion </a>
  <a class="btn btn-primary" >envoyer des mails </a>

  <a class="btn btn-primary" (click)="showMe()"> t'es ou</a>
  <p *ngIf="estCeQuilEstLa">Je suis là !!</p>
</div>
