<!-- Tableau Angular -->

<div class="container d-flex flex-column align-items-center justify-content-center">
  <div>
    <label for="filter"
           style="color: blueviolet;
            margin-outside: 5px">Room Name</label>
    <input
      type="text"
      id="filter"
      placeholder="Search for room-names.."
      style="color: blueviolet;
       padding: 2px 20px;
       margin: 40px; "
      [(ngModel)]="filterText"
    >
  </div>
<!--  <mat-form-field>-->
<!--    <input matInput type="datetime-local" placeholder="start date">-->
<!--  </mat-form-field>-->
  <table class="table table-dark table-striped table-group-divider" id="TableUser">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Name salle</th>
      <th scope="col">startDate</th>
      <th scope="col">enDate</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let reservesalle of filteredReserveSalles ">
      <td>{{reservesalle.id}}</td>
      <td>{{reservesalle.name}}</td>
      <td>{{reservesalle.namesalle }}</td>
      <td>{{reservesalle.startdate| date: 'medium'}}</td>
      <td>{{reservesalle.endate  | date: 'medium'}}</td>
      <td><a class="btn btn-danger" (click)="deleteReserveSalle(reservesalle.id)">Delete</a></td>
      <td><a class="btn btn-danger" (click)="editReserveSalle(reservesalle.id)">Edit</a></td>
    </tr>
    </tbody>
  </table>
  <a class="btn btn-primary" (click)="addReserveSalle()" >ajouter des ReserveSalles </a>
  <a class="btn btn-primary" (click)="showMe()"> T'es ou ?</a>
  <p *ngIf="estCeQuilEstLa">Je suis là !!</p>
</div>

<!--<script>-->
<!--  function filtre() {-->
<!--    var input, filter, table, tr, td, i, txtValue;-->
<!--    input = document.getElementById("myInput");-->
<!--    filter = input.value.toUpperCase();-->
<!--    table = document.getElementById("TableUser");-->
<!--    tr = table.getElementsByTagName("tr");-->
<!--    for (i = 0; i < tr.length; i++) {-->
<!--      td = tr[i].getElementsByTagName("td")[2];-->
<!--      if (td) {-->
<!--        txtValue = td.textContent || td.innerText;-->
<!--        if (txtValue.toUpperCase().indexOf(filter) > -1) {-->
<!--          tr[i].style.display = "";-->
<!--        } else {-->
<!--          tr[i].style.display = "none";-->
<!--        }-->
<!--      }-->
<!--    }-->
<!--  }-->
<!--</script>-->


