

<!-- Tableau Angular -->
<div class="container d-flex flex-column align-items-center justify-content-center">
  <div class="row">
    <a class="btn btn-primary" onclick="location.href='http://localhost:4200/list-users';" >gestion des membres </a>
  </div>
  <br>
  <div class="row">
    <a class="btn btn-primary" onclick="location.href='http://localhost:4200/list-salles';">gestion des salles</a>
  </div>
  <br>
  <div class="row">
    <a class="btn btn-primary" onclick="location.href='http://localhost:4200/add-reservesalle';">Réserver une salle</a>
  </div>
  <br>
  <div class="row">
    <a class="btn btn-primary" onclick="location.href='http://localhost:4200/list-reservesalle';">Voir quelle salle est libre </a>
  </div>
  <br>
  <div class="row">
    <a class="btn btn-primary" onclick="location.href='http://localhost:4200/list-users';">inviter membre salle réunion </a>
  </div>
  <br>
  <a class="btn btn-primary" >envoyer des mails </a>
  <br>
  <a class="btn btn-primary" (click)="showMe()"> t'es ou</a>
  <p *ngIf="estCeQuilEstLa">Je suis là !!</p>
  <hr>

</div>
