<!-- Tableau Angular -->
<div class="container">
  <div class="row">
    <div class="col-xs=12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <h2>My ReserveSalle</h2>
    <form  #f="ngForm" (ngSubmit)="onSubmit(f)">
<!--      <div id="reserve-room" *ngFor="let reservesalle of reservesalles">-->
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            required
            ngModel>
<!--          <span class="help-block" *ngIf="!name.valid && name.touched ">-->
<!--            Please enter a valid username!!</span>-->
<!--          <button-->
<!--            class="btn btn-default"-->
<!--            type="button"-->
<!--            (click)="suggestUserName()">Suggest a Username </button>-->
          <!--<label for="name">Name</label>
          <select  type="text"
                   id="name"
                   class="form-control"
                   name="name" source=user.name>

          </select>-->
        </div>
        <div class="form-group">
          <label for="namesalle">Name salle</label>
          <input
            type="text"
            id="namesalle"
            class="form-control"
            name="namesalle"
            required
            ngModel>
        </div>
      <div id="reserve-room">
          <div class="form-group">
            <label for="reserve-room">Select StartDate</label>
            <input
              type="datetime-local"
              id="startdate"
              class="form-control"
              name="startdate"
              ngModel>

            <label for="reserve-room">Select EndDate</label>
            <input
              type="datetime-local"
              id="endate"
              class="form-control"
              name="endate"
              ngModel>

          </div>
      </div>
        <button class="btn btn-primary" type="submit" >Submit </button>
      </form>
    </div>
  </div>
</div>
