<!-- formulaire edit-user -->

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" >
        <a *ngFor="let salle of salles"
           [routerLink]="['/edit-salle', salle.id]">
          {{ salle.name }}
        </a>
        <div class="form-group">
          <label for="name">
            name
          </label>
          <input type="text" id="name" class="form-control" name="name" [ngModel]="salle?.name">
        </div>
        <div class="form-group">
          <label for="photo">
            photo
          </label>
          <input type="text" id="photo" class="form-control" name="photo" [ngModel]="salle?.photo">
        </div>

        <div class="form-group">
          <label for="capacite">
            capacite
          </label>
          <input type="number" id="capacite" class="form-control" name="capacite" [ngModel]="salle?.capacite">
        </div>

        <div class="form-group">
          <label for="equipement">
            equipement
          </label>
          <select name="equipement" id="equipement" class="form-control" [ngModel]="salle?.equipement">
            <option value="projecteur">projecteur</option>
            <option value="caméra">caméra</option>
            <option value="ordinateur">ordinateur</option>
            <option value="casques">casques</option>
          </select>
        </div>

        <button class="btn btn-primary" type="submit">Ajouter</button>
      </form>
    </div>
  </div>
</div>
