
<!-- Tableau Angular -->
<div class="container d-flex flex-column align-items-center justify-content-center">
  <table class="table table-dark table-striped table-group-divider">
    <tbody>
    <tr *ngFor="">
      <td>{{room.id}}</td>
      <td>{{room.roomNo}}</td>
      <td>{{room.type}}</td>
      <td>{{room.users}}</td>
      <td>{{room.money}}</td>
      <td>{{room.checkInDate}}</td>
      <td >{{room.checkOutDate}}</td>
      <td >{{room.status}}</td>
    </tr>
    </tbody>
   <!-- <tbody>

    <tr *ngFor="">
      <td>{{}}</td>
      <td>{{}}</td>
      <td>{{}}</td>
      <td>{{}}</td>
      <td><a class="btn btn-danger" (click)="">Delete</a></td>
    </tr>
    </tbody>-->
  </table>
  <a class="btn btn-primary" (click)="showMe()"> T'es ou ?</a>
  <p *ngIf="estCeQuilEstLa">Je suis là !!</p>
</div>
